
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* max-width: 1366px;
  margin: 0 auto;
  overflow-x: hidden; */
  overflow: hidden;
}

section {
  position: relative;
  /* margin: 10.249vw 0; */
}

.grid-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
}

.container-fluid {
  max-width: 100%;
  margin: 0 67px;
}

img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.btn-image {
  width: 85px;
  height: 61px;
  margin-top: 56px;
  cursor: pointer;
}

header {
  z-index: 1;
  position: relative;
  background: white;
  /* padding-top: 20px;
  height: 100px; */
}

header img{
    /* height: 100%;
    object-fit: cover; */
}

.image-wrapper{
  /* padding-top: 150%;
  overflow: hidden;
  height: 0; */
  position: relative;
  height: calc(100vh - 64px);
}

.image-wrapper img{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.d-none{
  display: none;
}

@media (min-width: 992px) { .d-lg-block { display: block; } }

@media (max-width: 991px) { .d-md-block { display: block; } }

@media (max-width: 991px) {
  header {
    z-index: 1;
    position: relative;
    background: white;
    padding-top:5.556vw;
    height: 27.778vw;
  }

  header img{
      height: 100%;
      object-fit: cover;
  }

  .image-wrapper{
  /* padding-top: 150%;
  overflow: hidden;
  height: 0; */
  position: relative;
  /* height: calc(100vh - 33.333vw); */
  height: inherit;
}

  .image-wrapper img{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 100%;
    height: auto;
    /* object-fit: fill; */
}
}

.fp-table{
  justify-content: start;
}

.fp-tableCell , .fp-table{ 
  /* display: flex; */
  /* height: 652px !important; */
}